/*-------------------------------------------
pickup
-------------------------------------------*/
.pickup {
  padding-top: 100px;
  margin-bottom: 40px;
  .flexContent {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 860px){
      flex-direction: column;
    }
  }
  article {
    padding: 0 12px;
    @media screen and (max-width: 860px) {
        width: 100%;
        padding-bottom: 40px;
    }
  }
    img {
      // width: 300px;
      height: 200px;
      object-fit: cover;
      @media screen and (max-width: 860px) {
        // width: 100%;
        // height: auto;
        max-width: 860px;
        height: auto;
      }
    }
    .text {
      text-align: center;
    }
  }

.viewMore {
  text-align: right;
}

/*-------------------------------------------
container
-------------------------------------------*/
.container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 860px) {
    flex-direction: column;
  }
}
main {
  width: 64%;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}
.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (max-width: 860px) {
    flex-direction: column;
  }
}
.galleryItem {
  width: 47%;
  margin-bottom: 12px;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}
aside {
  width: 33%;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}
.author {
  margin-bottom: 40px;
  text-align: center;

  .profileContent {
    padding-bottom: 24px;
    .authorImg {
      width: 120px;
      @media screen and (max-width: 860px) {
        max-width: 860px;
        width: 300px;
      }
    }
  }
    .profileContent img {
    width: 240px;
    padding-bottom: 20px;
    @media screen and (max-width: 860px) {
      max-width: 860px;
      width: 100%;
    }
  }
  .authorText {
    text-align: left;
    font-size: 1.4rem;
    width: 82%;
    margin: 0 auto;
    @media screen and (max-width: 860px) {
      text-align: center;
    }
  }
}
.contactBtn {
  width: 480px;
  padding: 20px 40px;
  background-color: yellow;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 60%);
  margin-top: 40px;
  @media screen and (max-width: 860px) {
    width: 300px;
  }
}
